.attribute-set {
  .form-row {
    margin-bottom: 10px;
    position: relative;

    .far {
      @extend .cursor-pointer;
    }

    .fa-minus-square {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
    }
  }

}

.cursor-pointer{
  cursor: pointer;
}