<template>
    <div>
        <h2>Add Product</h2>
        <div class="form-group">
            <label for="product-name">Name*:</label>
            <input v-model="model.name" type="text" class="form-control" id="product-name"
                   placeholder="Enter Name" name="name" required>
        </div>
        <div class="form-group">
            <label for="product-type">Select Product Type:</label>
            <select v-model="model.type" class="form-control" id="product-type">
                <option v-for="productType in productTypes" :key="productType.id" :value="productType.id">
                    {{productType.name}}
                </option>
            </select>
        </div>
        <template v-if="model.type">
            <div v-for="attribute in getCurrentProductTypeAttributes.attributes" class="form-group">
                <label>{{attribute.key}}*:</label>
                <input v-model="model.attributes[attribute.key]" type="text" class="form-control" required>
            </div>
            <button @click.stop="handleAction" type="submit" class="btn btn-primary">Submit</button>
        </template>
    </div>
</template>

<script>
    export default {
        props: ['product', 'productTypes'],
        data() {
            return {
                model: {
                    type: null,
                    name: null,
                    attributes: {}
                }
            }
        },
        computed: {
            isUpdateMode() {
                return !!this.product.id
            },
            getCurrentProductTypeAttributes() {
                return this.productTypes.filter(item => {
                    return item.id === this.model.type
                })[0]
            }
        },
        methods: {
            handleAction() {
                axios.post('/products', this.model)
                    .then(result => {
                        console.log({result})
                    })
                    .catch(err => {
                        console.log({err})
                    })
            }
        }
    }
</script>

<style scoped>

</style>